table td {
  border: 3px solid #f00;
  padding: 3rem;
}

table {
  border-collapse: collapse;
  margin: auto;
}

.rotate {
  transform: rotate(180deg);
  transition: .5s;
}

td:hover {
  background-color: #b8b8b8;
  color: blue;
}
